 body {
     display: flex;
     justify-content: center;
     gap: 10px;
     margin-top: 2rem;
 }


 form {
     border-radius: 5px;
     background-color: var(--primary-main-bg-color);
     padding: 20px;
     width: 30rem;
     color: var(--primary-bg-color);
 }

 label {
     display: block;
 }

 input[type=text], input[type=number], select {
     width: 100%;
     padding: 12px;
     font-size: 1rem;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid var(--primary-main-bg-color);
     border-radius: 4px;
     box-sizing: border-box;


 }


 input[type=submit] {
     width: 100%;
     background-color: #4CAF50;
     color: white;
     padding: 14px;
     margin: 8px 0;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }

 input[type=submit]:hover {
     background-color: #45a049;
 }

 .error {
     color: red;
     font-size: 12px;
 }