#homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#homeHeader {
    text-align: center;
    color: var(--primary-bg-color);
    font-weight: bolder;
}




.catogeryBtn {
    display: block;
    margin: 10px;
    width: 10rem;
    height: 5vh;
    font-weight: bolder;
    background-color: var(--primary-bg-color);
    border: 1px solid transparent;
    border-radius: 0.5rem;
}