.quizify {
    font-family: 'Kumbh Sans', sans-serif;
    text-align: justify;
    margin: 10px 20px 10px 20px;
    border: 1px solid transparent;
    background-color: whitesmoke;
    padding-left: 10px;
    text-align: justify;


}

.heading {
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
    color: blueviolet;
}

.questions {
    font-size: 1.4rem;
    padding-left: 10px;
    text-align: center;
}

.button {
    background-color: blue;
    width: 6rem;
    margin-top: 5px;
    text-align: center;
    border-radius: 1rem;
    font-size: 1.2rem;
    border-color: transparent;
    color: white;
    cursor: pointer;
}

.btnFooter {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 4vh;
    margin-bottom: 4vh;

}

.optionField {
    display: block;
    cursor: pointer;

}

.optionField:hover {
    color: blue;
}

.optionsContainer {
    display: block;
    text-align: center;
}


.options {

    color: black;
    font-size: 1.2rem;
    cursor: pointer;
    /* border: 8px solid white;
    background-color: white; */
    padding: 1vh;
    margin: 0.5rem inherit;
}



.inputOption {
    display: none;
    border: 1px solid transparent;
    cursor: pointer;

}


.correctAnswer {
    border: 0 solid green;
    background-color: green;
    color: white;
}

.wrongAnswer {
    border: 0 solid red;
    background-color: red;
    color: white;
}

.selectedOption {
    background-color: orange;
    color: white;
    font-weight: 600px;
}